mtranslate
google-genai
requests
g4f
mutagen
tgcalls
py-tgcalls~=2.2.11
telethon
aiocron
emoji
pytz
gtts
qrcode
Telegram
aiohttp
fake_useragent
user_agent
hijri_converter
gpytranslate
watchdog
ffmpeg
aiosqlite
