mtranslate
google-genai
requests
g4f
mutagen
tgcalls==3.0.0.dev6
py-tgcalls~=2.2.11
telethon
aiocron
emoji
pytz
gtts
qrcode
Telegram
aiohttp
fake_useragent
user_agent
hijri_converter
gpytranslate
watchdog
ffmpeg
aiosqlite
